@import "./base.css";

@media (min-width: 1024px) {
  .userInput {
    margin-bottom: 20%;
    margin-top: 10%;
  }

  #app {
    width: 100%;
    margin: 0 auto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about {
    top: 100px;
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
  }

  #pfp {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: 175px;
    border: 3px solid;
    border-radius: 20px;
    display: block;
  }

  a,
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
  }

  body {
    font-family: "Arial", sans-serif;
  }

  h1 {
    margin-bottom: 40px;
    font-weight: bolder;
    color: #00ffa2;
    font-size: 40px;
    text-align: center;
  }

  h2 {
    font-weight: bold;
    color: rgb(147, 255, 219);
    padding: 10px;
    display: inline-block;
    position: relative;
    border-bottom: 3px solid #15cb88;
    border-radius: 10px;
  }

  .description {
    text-indent: 40px;
    line-height: 50px;
    text-align: justify;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background: #303030;
    color: white;
  }

  a {
    color: #31c48d;
    transition: all 0.3s ease;
  }

  a:hover {
    color: #27a577;
  }

  table {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  td {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: text-top;
    text-align: center;
    vertical-align: middle;
  }

  ul {
    margin-bottom: 20px;
    list-style-type: none;
    text-align: left;
  }

  ul li {
    text-align: justify;
    margin: 30px;
  }

  li.aboutUs:before {
    content: "🌿";
  }

  .trashButtons {
    background-color: #31c48d;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    min-width: 180px;
    min-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  button:hover {
    background-color: #3fdfa4;
    transition: 0.5s;
  }

  button:active {
    background-color: white;
  }

  input {
    text-align: left;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
  }

  #rightButton {
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  #leftButton {
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  #midButton {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  div #map {
    height: 100vh;
    width: 100%;
    color: black;
  }

  .pollpic {
    width: 100%;
    margin: auto;
  }

  .logo {
    position: absolute;
    object-fit: contain;
    width: 55%;
    height: auto;
    position: absolute;
    top: 5%;
  }
  .scrollButton {
    position: fixed;
    z-index: 99;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 20px;
    left: 20px;
    display: grid;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    z-index: 99;
  }
  .scrollButton:hover {
    background-color: #b9b9b9bc;
    transition: 0.5s;
  }
  .scrollButton:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }
  .scrollButton:active {
    background-color: rgba(255, 255, 255, 0.253);
  }
  .scrollButtonContainer {
    display: flex;
  }

  .userLogin {
    width: 40%;
    padding: 3%;
    color: darkgray;
    position: absolute;
    background-color: rgb(58, 58, 58);
    border-radius: 15%;
    box-shadow: 0 0 20px 5px rgba(15, 15, 15);
  }
  .binpic {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .social-button {
    background-color: #31c48d;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    min-width: 180px;
    min-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    max-width: 100%;
    width: 60%;
  }
  .social-button img {
    object-fit: contain;
    width: 7%;
    height: auto;
    text-align: left;
  }

  .inputBox {
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(15, 15, 15);
    border: 0;
  }

  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }

  nav {
    display: flex;
    position: fixed;
    z-index: 99;
    font-size: 1rem;
    right: 0;
    top: 0;
    background-color: #31c48d;
    width: 100%;
    max-height: 100%;
    justify-content: right;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    border-bottom: 1px solid #ddd;
  }

  nav a.router-link-exact-active {
    color: black;
    font-weight: bolder;
  }

  nav a.router-link-exact-active:hover {
    background-color: white;
  }

  nav a {
    font-size: 16px;
    color: black;
    display: block;
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.5s;
    text-decoration: none;
  }

  nav a:hover {
    background-color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 1023px) {
  .about {
    top: 100px;
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
  }
  #app {
    width: 100%;
    margin: 0 auto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input {
    text-align: left;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
  }

  body {
    font-family: "Arial", sans-serif;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: bolder;
    color: #00ffa2;
    text-align: center;
  }

  h2 {
    font-weight: bold;
    color: rgb(147, 255, 219);
    padding: 10px;
    display: inline-block;
    position: relative;
    border-bottom: 3px solid #15cb88;
    border-radius: 10px;
  }

  h3 {
    text-align: left;
  }

  p {
    font-size: 14px;
    text-indent: 40px;
    line-height: 40px;
    text-align: justify;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background: #303030;
    color: white;
  }

  .scrollButtonContainer {
    display: flex;
  }

  .scrollButton {
    font-size: 10px;
    background-color: white;
    color: black;
    border-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 80px;
    left: 10px;
    display: grid;
    position: fixed;
    z-index: 99;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  nav {
    display: flex;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
    background-color: #31c48d;
    width: 100%;
    max-height: 100%;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    padding-top: 20px;
    padding-bottom: 22px;
  }

  nav a.router-link-exact-active {
    color: black;
    font-weight: bold;
  }

  nav a.router-link-exact-active:hover {
    background-color: white;
  }

  nav a {
    font-size: 12px;
    color: black;
    padding: 0 20px;
    transition: 0.5s;
    text-decoration: none;
  }

  nav a:hover {
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
  }

  nav a:first-of-type {
    border: 0;
  }

  .pollpic {
    width: 100%;
  }

  .logo {
    position: absolute;
    object-fit: contain;
    width: 55%;
    height: auto;
    position: absolute;
    top: 70px;
  }

  #rightButton {
    font-size: 12px;
    border-radius: 0;
    border-radius: 15px;
    margin: 5px;
  }

  #leftButton {
    font-size: 12px;
    border-radius: 0;
    border-radius: 15px;
    margin: 5px;
  }

  #midButton {
    font-size: 12px;
    border-radius: 0;
    border-radius: 15px;
    margin: 5px;
  }

  table {
    margin-bottom: 20px;
  }

  td {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    font-size: 14px;
    line-height: 50px;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: left;
  }

  ul li {
    text-align: justify;
    margin: 30px;
  }

  li.aboutUs:before {
    content: "🌿";
  }

  #pfp {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: 175px;
    border: 3px solid;
    border-radius: 20px;
    display: block;
  }

  div #map {
    height: 100vh;
    width: 100%;
    color: black;
  }

  .userLogin {
    top: 80px;
    width: 40%;
    padding: 20px;
    color: darkgray;
    position: absolute;
    background-color: rgb(58, 58, 58);
    border-radius: 15%;
    box-shadow: 0 0 20px 5px rgba(15, 15, 15);
  }

  .binpic {
    width: 100%;
    height: 100vh;
  }

  button:hover {
    background-color: #3fdfa4;
    transition: 0.5s;
  }

  button:active {
    background-color: white;
  }

  .social-button img {
    width: 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #31c48d;
    transition: all 0.3s ease;
  }

  a:hover {
    color: #27a577;
  }

  .userInput {
    margin-bottom: 20%;
    margin-top: 10%;
  }

  a,
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
  }

  .trashButtons {
    background-color: #31c48d;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    min-width: 180px;
    min-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .scrollButton:hover {
    background-color: #b9b9b9bc;
    transition: 0.5s;
  }

  .scrollButton:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }

  .scrollButton:active {
    background-color: rgba(255, 255, 255, 0.253);
  }

  .social-button {
    background-color: #31c48d;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
  }

  .inputBox {
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(15, 15, 15);
    border: 0;
  }

  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}
